@media (max-width:876px) {

/* header  */

    .main_header {
        padding-inline: 24px;
    }

    .header_ul {
        column-gap: 42px;
    }
}

@media (max-width:825px) {

    /* footer  */
    
    .social_icons_title {
        font-size: 18px;
    }

    .text_contact {
        font-size: 12px;
    }
}