.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header  */

.main_header {
    padding: 32px 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: inherit;
    width: inherit;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: rgb(143, 133, 93);
    opacity: 0.5;
    backdrop-filter: blur(8px);
}

.header_ul {
    display: flex;
    column-gap: 62px;
}

.header_ul li:nth-child(1) a {
    color: rgb(248, 218, 48);
}


.header_li:hover {
    border-bottom: 3px solid #FFF;
}

.header_a {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
}





/* background  */

.background_section {
    background-image: url(../images/homePageBackground.png);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}