@media (max-width:685px) {

    /* header  */

    .header_nav {
        width: 50%;
        height: 130px;
        position: fixed;
        top: 113px;
        left: -200%;
        background-color: rgb(81, 77, 62);
        transition: .5s linear;
    }

    .fa-bars {
        display: block;

    }

    .show {
        left: 0;
    }

    .header_ul {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .header_a {
        font-size: 20px;
    }

    /* footer  */

    .social_icons_title {
        margin-right: 12px;
        text-wrap: nowrap;
    }

    .text_contact {
        text-wrap: wrap;
    }

    .contact {
        margin-inline: 8px;
    }
}


@media (max-width:520px) {

    /* footer */
    
    .main_footer {
        padding-inline: 16px;
    }

    .contact_icons {
        width: 20px;
        height: 20px;
    }
}